# 1. 패키지와 데이터 준비

In [1]:
import warnings
warnings.filterwarnings(action='ignore')

import pandas as pd
import numpy as np
import plotly.express as px
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.set_option('display.max_columns', 500)

In [2]:
customer = pd.read_csv('data/\'21년 해카톤_고객정보.csv', encoding='euc-kr')
car = pd.read_csv('data/\'21년 해카톤_차량정보.csv', encoding='euc-kr')
contact = pd.read_csv('data/\'21년 해카톤_접촉정보.csv', encoding='euc-kr')

In [3]:
def reduce_mem_usage(df):

    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

customer = reduce_mem_usage(customer)
car = reduce_mem_usage(car)
contact = reduce_mem_usage(contact)

Memory usage of dataframe is 75.27 MB
Memory usage after optimization is: 66.91 MB
Decreased by 11.1%
Memory usage of dataframe is 140.06 MB
Memory usage after optimization is: 119.05 MB
Decreased by 15.0%
Memory usage of dataframe is 676.50 MB
Memory usage after optimization is: 541.20 MB
Decreased by 20.0%

# 2. 데이터 요약

## 1) 고객정보

In [4]:
print('data shape:',customer.shape,'\n') # data shape
customer.info() # data information
pd.DataFrame(customer.isnull().sum(), columns=['null_count']) # null data
customer.head() # data sample

data shape: (1096206, 9)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096206 entries, 0 to 1096205
Data columns (total 9 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   CUS_ID             1096206 non-null  object
 1   PSN_BIZR_YN        138942 non-null   object
 2   SEX_SCN_NM         1096206 non-null  object
 3   TYMD               1096206 non-null  int32
 4   CUS_ADM_TRY_NM     951810 non-null   object
 5   CUS_N_ADMZ_NM      948912 non-null   object
 6   CUS_ADMB_NM        240900 non-null   object
 7   CLB_HOUS_PYG_NM    622917 non-null   object
 8   REAI_BZTC_AVG_PCE  587580 non-null   float32
dtypes: float32(1), int32(1), object(7)
memory usage: 66.9+ MB

                   null_count
CUS_ID                      0
PSN_BIZR_YN            957264
SEX_SCN_NM                  0
TYMD                        0
CUS_ADM_TRY_NM         144396
CUS_N_ADMZ_NM          147294
CUS_ADMB_NM            855306
CLB_HOUS_PYG_NM        473289
REAI_BZTC_AVG_PCE      508626

,CUS_ID,PSN_BIZR_YN,SEX_SCN_NM,TYMD,CUS_ADM_TRY_NM,CUS_N_ADMZ_NM,CUS_ADMB_NM,CLB_HOUS_PYG_NM,REAI_BZTC_AVG_PCE
0,AOZZZZO010000035,NaN,남자,19300300,전라남도,영암군,시종면,NaN,NaN
1,AOZZZZO010000067,NaN,남자,19330600,경상남도,진주시,NaN,NaN,NaN
2,AOZZZZO010000190,NaN,남자,19370700,NaN,NaN,NaN,23,13400.0
3,AOZZZZO010000371,NaN,남자,19400800,서울특별시,마포구,NaN,NaN,NaN
4,AOZZZZO010000492,NaN,남자,19411100,광주광역시,북구,NaN,NaN,NaN

## 2) 차량정보

In [5]:
print('data shape:',car.shape,'\n') # data shape
car.info() # data information
pd.DataFrame(car.isnull().sum(), columns=['null_count']) # null data
car.head() # data sample

data shape: (1835830, 10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1835830 entries, 0 to 1835829
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   CAR_ID            object
 1   CUS_ID            object
 2   WHOT_DT           int32
 3   CAR_HLDG_STRT_DT  int32
 4   CAR_HLDG_FNH_DT   float32
 5   CAR_NM            object
 6   CAR_CGRD_NM_1     object
 7   CAR_CGRD_NM_2     object
 8   CAR_ENG_NM        object
 9   CAR_TRIM_NM       object
dtypes: float32(1), int32(2), object(7)
memory usage: 119.1+ MB

                  null_count
CAR_ID                     0
CUS_ID                     0
WHOT_DT                    0
CAR_HLDG_STRT_DT           0
CAR_HLDG_FNH_DT       894153
CAR_NM                     0
CAR_CGRD_NM_1              0
CAR_CGRD_NM_2              0
CAR_ENG_NM                 0
CAR_TRIM_NM              287

,CAR_ID,CUS_ID,WHOT_DT,CAR_HLDG_STRT_DT,CAR_HLDG_FNH_DT,CAR_NM,CAR_CGRD_NM_1,CAR_CGRD_NM_2,CAR_ENG_NM,CAR_TRIM_NM
0,H1308052741CBFA022907,AOZZZZO010000035,20140627,20140627,20170832.0,LF쏘나타,승용,중형,가솔린 2.0 CVVL,SMART
1,H1308050341LBEA656859,AOZZZZO010000067,20140711,20140711,NaN,YF쏘나타,승용,중형,LPG 2.0,PREMIUM
2,H1308052741DBFA038433,AOZZZZO010000190,20140707,20140707,NaN,LF쏘나타,승용,중형,LPi 2.0,PREMIUM
3,H13080607413BFA007670,AOZZZZO010000371,20140711,20140711,NaN,그랜저HG,승용,대형,하이브리드,PREMIUM
4,H1308052741DBFA091812,AOZZZZO010000492,20150120,20150120,NaN,LF쏘나타,승용,중형,LPi 2.0,PREMIUM

## 3) 접촉정보

In [6]:
print('data shape:',contact.shape,'\n') # data shape
contact.info() # data information
pd.DataFrame(contact.isnull().sum(), columns=['null_count']) # null data
contact.head() # data sample

data shape: (17734097, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17734097 entries, 0 to 17734096
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   CNTC_SN           int32
 1   CUS_ID            object
 2   CNTC_DT           int32
 3   CNTC_CHAN_NM      object
 4   CNTC_AFFR_SCN_NM  object
dtypes: int32(2), object(3)
memory usage: 541.2+ MB

                  null_count
CNTC_SN                    0
CUS_ID                     0
CNTC_DT                    0
CNTC_CHAN_NM               0
CNTC_AFFR_SCN_NM           0

     CNTC_SN            CUS_ID   CNTC_DT CNTC_CHAN_NM CNTC_AFFR_SCN_NM
0  172591627  AOZZZZO010000035  20150504       방문(대면)               정비
1  172610507  AOZZZZO010000035  20150504       방문(대면)               정비
2  306638131  AOZZZZO010000035  20161202       방문(대면)               정비
3  306641393  AOZZZZO010000035  20161202       방문(대면)               정비
4  344010325  AOZZZZO010000035  20170215       방문(대면)               정비

# 3. 대차/추가구매 분리 로직

In [7]:
car = car.sort_values(['CUS_ID','WHOT_DT']).reset_index(drop=True)

In [8]:
buy_dates = car[['CAR_ID','CUS_ID','CAR_HLDG_STRT_DT','CAR_HLDG_FNH_DT']]
buy_dates['CAR_HLDG_FNH_DT'] = buy_dates['CAR_HLDG_FNH_DT'].fillna(-1)
buy_dates.head(10)

                  CAR_ID            CUS_ID  CAR_HLDG_STRT_DT  CAR_HLDG_FNH_DT
0  H1308031441VP6U069690  AONEEOO010000113          20060627       20070712.0
1  H1308060741EBBA077034  AONEEOO010000113          20110801             -1.0
2  H1308052141BP5A053834  AONEEOO020000165          20050226             -1.0
3  H1308070241ABAU090781  AONEEOO020000165          20100106             -1.0
4  H1308190381PP1U052991  AONEEOO020000170          20010111       20110608.0
5  H1308192381UBDU081735  AONEEOO020000170          20121120             -1.0
6  H1308191081UBBU647205  AONEEOO020000290          20100826       20111028.0
7  H1308192381UBJU777377  AONEEOO020000290          20170406             -1.0
8  H1308190881WP6U064927  AONEEOO040000233          20060616       20170530.0
9  H1308042141BBAU837494  AONEEOO040000233          20090727             -1.0

In [9]:
# 0: 최초구매, 1: 대차, 2: 추가구매

def decha_or_chugu(df, verbose=5000):
    count_cars = df['CUS_ID'].value_counts()
    
    first_car = df[df['CUS_ID'].map(count_cars==1)]
    first_car['LABEL'] = 0
    print(len(first_car),'명의 고객은 차가 한 대 있습니다.')
    cus_count, count = len(set(df['CUS_ID'])), len(first_car)
    
    more_car = df[df['CUS_ID'].map(count_cars>1)]
    cus_id, starts, finishes = list(more_car['CUS_ID']), list(more_car['CAR_HLDG_STRT_DT']), list(more_car['CAR_HLDG_FNH_DT'])
    
    idx = 0
    labels = []
    done = False
    
    while not done:
        label = [0]
        last_disposal = finishes[idx]
        cur_id = cus_id[idx]
        
        while cur_id == cus_id[idx+1]:
            idx+=1

            if last_disposal==-1 or starts[idx] < last_disposal:
                label.append(2)
            else:
                label.append(1)

            last_disposal = finishes[idx] if finishes[idx] != -1 else -1
            
            if idx+1==len(cus_id):
                done=True
                break

        labels += label
        count+=1
        if count%verbose==0:
            print('진행도: ',count,'/',cus_count)
        idx+=1
    
    print('진행도: ',count,'/',cus_count)
    more_car['LABEL'] = labels
    df = pd.concat([first_car, more_car]).sort_values(['CUS_ID','CAR_HLDG_STRT_DT'])
    return df

In [10]:
buy_dates = decha_or_chugu(buy_dates, verbose=50000)

490436 명의 고객은 차가 한 대 있습니다.
진행도:  500000 / 1096206
진행도:  550000 / 1096206
진행도:  600000 / 1096206
진행도:  650000 / 1096206
진행도:  700000 / 1096206
진행도:  750000 / 1096206
진행도:  800000 / 1096206
진행도:  850000 / 1096206
진행도:  900000 / 1096206
진행도:  950000 / 1096206
진행도:  1000000 / 1096206
진행도:  1050000 / 1096206
진행도:  1096206 / 1096206

In [11]:
buy_dates.head(50)

,CAR_ID,CUS_ID,CAR_HLDG_STRT_DT,CAR_HLDG_FNH_DT,LABEL
0,H1308031441VP6U069690,AONEEOO010000113,20060627,20070712.0,0
1,H1308060741EBBA077034,AONEEOO010000113,20110801,-1.0,1
2,H1308052141BP5A053834,AONEEOO020000165,20050226,-1.0,0
3,H1308070241ABAU090781,AONEEOO020000165,20100106,-1.0,2
4,H1308190381PP1U052991,AONEEOO020000170,20010111,20110608.0,0
5,H1308192381UBDU081735,AONEEOO020000170,20121120,-1.0,1
6,H1308191081UBBU647205,AONEEOO020000290,20100826,20111028.0,0
7,H1308192381UBJU777377,AONEEOO020000290,20170406,-1.0,1
8,H1308190881WP6U064927,AONEEOO040000233,20060616,20170530.0,0
9,H1308042141BBAU837494,AONEEOO040000233,20090727,-1.0,2
10,H1308051441BPYA282823,AONEEOO040000329,20000325,20040116.0,0
11,H1308042041BP7U177233,AONEEOO040000329,20070315,20111126.0,1
12,H1308131081VP6U278548,AONEEOO040000408,20051118,20070322.0,0
13,H1308060141BP9A344364,AONEEOO040000408,20080408,20090926.0,1
14,H1308030751BPYU061320,AONEEOO050000235,20000624,20080320.0,0
15,H1308051441MP3U015080,AONEEOO050000251,20030731,20110628.0,0
16,H1308050341BBAA152068,AONEEOO050000328,20100826,20151114.0,0
17,H1308142181WP8U082020,AONEEOO050000363,20080909,20111112.0,0
18,H1308042141BBAU977314,AONEEOO050000363,20091222,20171024.0,2
19,H1308192381UBGU618951,AONEEOO050000363,20151221,-1.0,2
20,H1308052741CBJA398390,AONEEOO050000363,20171020,-1.0,2
21,H1308062241CP1A151658,AONEEOO050000367,20010828,20050926.0,0
22,H1308030741GP2U346875,AONEEOO050000367,20020327,20060124.0,2
23,H1308072041CP3U051046,AONEEOO050000367,20030314,20070104.0,2
24,H1308052141BP6A182066,AONEEOO050000367,20051215,20121128.0,2
25,H1308030741GP1U268932,AONEEOO050000406,20010721,20040204.0,0
26,H1308060141BP8A266545,AONEEOO050000406,20070716,20070718.0,1
27,H1308060741EBBA001805,AONEEOO050000406,20110422,-1.0,1
28,H1308192381UBDU160055,AONEEOO070000157,20130429,-1.0,0
29,H1308042141BP7U250206,AONEEOO070000194,20070607,20130516.0,0
30,H1308102181VBAU076074,AONEEOO070000194,20100305,20141212.0,2
31,H1308040741DBEU864371,AONEEOO070000194,20130711,-1.0,2
32,H1308190481VP2U397811,AONEEOO070000256,20021031,20170330.0,0
33,H1308050341BBCA410127,AONEEOO070000256,20120106,20161026.0,2
34,H1308102181VBAU082428,AONEEOO070000324,20100429,20120820.0,0
35,H1308060741EBCA182727,AONEEOO070000324,20120817,20170824.0,2
36,H1308192381UBJU809368,AONEEOO070000324,20170808,-1.0,2
37,H13080502415BCA042027,AONEEOO080000258,20120718,-1.0,0
38,H1308040741DBDU785153,AONEEOO080000258,20130213,-1.0,2
39,H1308191081UBAU568159,AONEEOO080000315,20091222,20160830.0,0
40,H13081027815GHU318769,AONEEOO080000315,20160909,-1.0,1
41,H1308062241DP2A178089,AONEEOO090000299,20020114,20070322.0,0
42,H1308040351DBAU228088,AONEEOO090000299,20091130,20120624.0,1
43,H1308192381UBDU011188,AONEEOO090000299,20120614,-1.0,2
44,H1308051441MP4A072575,AONEEOO110000174,20040512,20120808.0,0
45,H1308041441BP5U173881,AONEEOO110000174,20050718,20101008.0,2
46,H1308062141CP3A267299,AONEEOO110000260,20030213,-1.0,0
47,H1308060641EBHA572350,AONEEOO110000260,20161101,-1.0,2
48,H1308192381XBFU501008,AONEEOO110000334,20150414,-1.0,0
49,H1308040741DBGU637888,AONEEOO110000334,20150916,-1.0,2

In [18]:
buy_dates[buy_dates['CUS_ID'].map(buy_dates['CUS_ID'].value_counts()>2)].head(50)

,CAR_ID,CUS_ID,CAR_HLDG_STRT_DT,CAR_HLDG_FNH_DT,LABEL
17,H1308142181WP8U082020,AONEEOO050000363,20080909,20111112.0,0
18,H1308042141BBAU977314,AONEEOO050000363,20091222,20171024.0,2
19,H1308192381UBGU618951,AONEEOO050000363,20151221,-1.0,2
20,H1308052741CBJA398390,AONEEOO050000363,20171020,-1.0,2
21,H1308062241CP1A151658,AONEEOO050000367,20010828,20050926.0,0
22,H1308030741GP2U346875,AONEEOO050000367,20020327,20060124.0,2
23,H1308072041CP3U051046,AONEEOO050000367,20030314,20070104.0,2
24,H1308052141BP6A182066,AONEEOO050000367,20051215,20121128.0,2
25,H1308030741GP1U268932,AONEEOO050000406,20010721,20040204.0,0
26,H1308060141BP8A266545,AONEEOO050000406,20070716,20070718.0,1
27,H1308060741EBBA001805,AONEEOO050000406,20110422,-1.0,1
29,H1308042141BP7U250206,AONEEOO070000194,20070607,20130516.0,0
30,H1308102181VBAU076074,AONEEOO070000194,20100305,20141212.0,2
31,H1308040741DBEU864371,AONEEOO070000194,20130711,-1.0,2
34,H1308102181VBAU082428,AONEEOO070000324,20100429,20120820.0,0
35,H1308060741EBCA182727,AONEEOO070000324,20120817,20170824.0,2
36,H1308192381UBJU809368,AONEEOO070000324,20170808,-1.0,2
41,H1308062241DP2A178089,AONEEOO090000299,20020114,20070322.0,0
42,H1308040351DBAU228088,AONEEOO090000299,20091130,20120624.0,1
43,H1308192381UBDU011188,AONEEOO090000299,20120614,-1.0,2
57,H1308022151DBAU949306,AONEEOO140000692,20100204,20171230.0,0
58,H1308192381UBJU786558,AONEEOO140000692,20170619,-1.0,2
59,H1308042741DBJU607469,AONEEOO140000692,20171226,-1.0,2
65,H1326111217BPYU383482,AONEEOO170000170,20000516,20140618.0,0
66,H1308030751FPYU062889,AONEEOO170000170,20000612,20060424.0,2
67,H1308141481WP1U008878,AONEEOO170000170,20010511,-1.0,2
68,H1308141481XP2U044254,AONEEOO170000170,20020228,20080404.0,2
69,H1308041441AP3U692858,AONEEOO170000170,20030604,20080508.0,2
74,H1308072141CP1U020326,AONEEOO180000263,20010423,20080512.0,0
75,H1308041451AP2U066886,AONEEOO180000263,20020513,20061102.0,2
76,H1308072141EP7U110475,AONEEOO180000263,20070905,20101012.0,1
79,H1308141481WP1U012950,AONEEOO180000706,20010616,20050406.0,0
80,H1308141481XP3U095113,AONEEOO180000706,20030526,20080528.0,2
81,H1308142181WP8U073851,AONEEOO180000706,20080521,20130726.0,2
82,H1308142281XDEU213634,AONEEOO180000706,20130719,-1.0,2
102,H1308072041CP1U020929,AONEEOO230000244,20010424,20150904.0,0
103,H1308190481VP2U305745,AONEEOO230000244,20020531,20160908.0,2
104,H1308081361DP3U083878,AONEEOO230000244,20030226,20120208.0,2
105,H1308072741HDGU016916,AONEEOO230000244,20160613,-1.0,1
106,H1308190481VP5U939066,AONEEOO230000268,20041221,20120420.0,0
107,H1308060141AP8A266526,AONEEOO230000268,20070823,20090908.0,2
108,H1308060341MBAA512871,AONEEOO230000268,20100210,20131028.0,1
113,H1308062141AP4A329085,AONEEOO240000174,20040112,20151230.0,0
114,H1308041441BP6U277175,AONEEOO240000174,20060111,20121220.0,2
115,H1308060641CBDA236297,AONEEOO240000174,20121217,20140808.0,2
128,H1308041441AP4U880747,AONEEOO280000454,20040331,-1.0,0
129,H1308060341BP5A011623,AONEEOO280000454,20050706,-1.0,2
130,H1308042141BP8U366262,AONEEOO280000454,20071123,-1.0,2
131,H1308142181WDBU148482,AONEEOO280000461,20101006,-1.0,0
132,H1308032041CBBU001377,AONEEOO280000461,20101126,20161012.0,2

# 4. Data Preprocessing

## 1) feature & data aggregation

### 고객정보

In [ ]:
# 고객 주소
customer.update(customer[['CUS_ADM_TRY_NM','CUS_N_ADMZ_NM','CUS_ADMB_NM']].fillna(''))
customer['ADDRESS'] = customer['CUS_ADM_TRY_NM'] + ' ' + customer['CUS_N_ADMZ_NM'] + ' ' + customer['CUS_ADMB_NM']
customer.drop(['CUS_ADM_TRY_NM','CUS_N_ADMZ_NM','CUS_ADMB_NM'],axis=1, inplace=True)

### 차량정보

In [ ]:
customer['CLB_HOUS_PYG_NM'].fillna((customer['CLB_HOUS_PYG_NM'].mean() + customer['CLB_HOUS_PYG_NM'].median())/2, inplace=True)
customer['REAI_BZTC_AVG_PCE'].fillna((customer['REAI_BZTC_AVG_PCE'].mean() + customer['REAI_BZTC_AVG_PCE'].median())/2, inplace=True)

In [ ]:
customer['REAI_BZTC_AVG_PCE'].mean() + customer['REAI_BZTC_AVG_PCE'].median()/2

In [ ]:
px.histogram(customer['CLB_HOUS_PYG_NM'])

In [ ]:
px.histogram(customer['REAI_BZTC_AVG_PCE'])